<h2> <%= @brand.name %> <button type="button" name="button" class="btn btn-warning"><a href="/brands/<%= @brand.id %>/edit">Edit</a></button></h2>



<p><strong>Price: </strong><%= @brand.price %> </p>

<h3>Stores currently carrying <%= @brand.name %> </h3>

<% if @brand.stores.any? %>
  <ul>
    <% @brand.stores.each do |store| %>
      <li><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>This brand is currently not in any stores.</p>
<% end %>

<h3>Add <%= @brand.name %> to a store:</h3>
<form action="/add-association" method="post">
  <input type="hidden" name="brand_id" value="<%= @brand.id %>">
  <div class="form-group">
    <% if @stores.any? %>
      <select class="form-control" name="store_id">
        <% @stores.each do |store| %>
          <option value="<%= store.id %>"><%= store.name %></option>
        <% end %>
      </select>
    <% else %>
      <p>There are currently no stores.</p>
    <% end %>
  </div>
  <button type="submit" name="button" class="btn btn-success">Add to Store</button>
</form>
